<div ng-controller="artikli">

	
	<table class="table table-striped">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">OPIS</th>
			<th scope="col">STANJE</th>
			<th scope="col">JED.MERE</th>
			<th scope="col">NABAVKA</th>
				<th scope="col">KATEGORIJA</th>
			<th scope="col">POSLEDNJA IZMENA</th>
		
			
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
		<tr ng-repeat="a in artikli">
			<td scope="row">{{a.id}}</td>
			<td>{{a.opis}}</td>
			<td >{{a.stanje}}</td>
			<td >{{a.jedinicaMere}}</td>
			<td  ng-if="(a.stanje-a.minimalnaKolicina)<0"><font color=red >Potrebna nabavka!</font></td>
			<td ng-if="!((a.stanje-a.minimalnaKolicina)<0)"> </td>

			<td>{{a.kategorijaNaziv}}</td>
			<td>{{ a.datumPoslednjeIzmene | date:'MM/dd/yyyy '}}</td>
			<td>
				<button ng-click="izmeniArtikl(a.id)"
					class="btn btn-outline-primary">
					<i class="glyphicon glyphicon-pencil"></i>Promena stanja
				</button>
			</td>

			<td>
				<button ng-click="obrisiArtikl(a.id)"
					class="btn btn-outline-primary">
					<i class="glyphicon glyphicon-trash"></i>Obrisi artikl
				</button>
			</td>
		</tr>

	</table>



	
	
	<br />
	
	
		<button ng-click="dodajArtikl()" class="btn">
			<i class="glyphicon glyphicon-plus "></i>Dodaj artikl
		</button>
	
	

</div>