<div ng-controller="editArtiklCtrl">
	<h1>Izmena artikla</h1>
	<p>Podaci o artiklu</p>
	<table class="table table-striped">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">OPIS</th>
			<th scope="col">STANJE</th>
			<th scope="col">JED.MERE</th>

			<th scope="col">KATEGORIJA</th>
			<th scope="col">POSLEDNJA IZMENA</th>
			<th scope="col">MINIMALNO STANJE</th>

			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
		<tr>
			<td scope="row">{{artikl.id}}</td>
			<td>{{artikl.opis}}</td>
			<td>{{artikl.stanje}}</td>
			<td>{{artikl.jedinicaMere}}</td>

			<td>{{artikl.kategorijaNaziv}}</td>
			<td>{{ artikl.datumPoslednjeIzmene | date:'MM/dd/yyyy '}}</td>
			<td>{{artikl.minimalnaKolicina}}</td>


		</tr>

	</table>
	<form>


		<div class="form-group">
			<label for="datumPoslednjeIzmene">DATUM UNOSA</label> <input
				required="required" ng-model="artikl.datumPoslednjeIzmene"
				type="date" class="form-control" id="datumPoslednjeIzmene"
				placeholder="yyyy-MM-dd">
		</div>
		<div class="form-group">
			<label for="id">NALOGODAVAC</label> <select ng-model="nova.osobaId"
				type="text" class="form-control" id="id">
				<option ng-repeat="o in osobe" value="{{o.id}}">{{o.ime +"
					"+o.prezime}}</option>
			</select>
		</div>

		
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="">Izmena stanja artikla</span>
			</div>
			<input type="text" class="form-control" ng-model="nova.kolicina">
			 <select class="form-control" ng-model="nova.opisIzmene"><option  ng-repeat="p in promene" value="{{p.opis}}">{{p.opis}}</option></select>
		</div>

		<button type="button" class="btn btn-primary" ng-click="izmeni()">Izmeni</button>



	</form>
</div>