<div ng-controller="addArtiklCrtr">

<div >

		<br />
		<h1>Unos artikla</h1>
		<form >
			<div class="form-group">
				<label for="opis">OPIS</label> <input required="required" ng-model="novi.opis"
					type="text" class="form-control" id="opis">
			</div>
			<div class="form-group">
				<label for="stanje">POCETNO STANJE</label> <input ng-model="novi.stanje"
					type="text" class="form-control" id="stanje">
			</div>
			<div class="form-group">
				<label for="minimalnaKolicina">MINIMALNA KOLICINA</label> <input ng-model="novi.minimalnaKolicina"
					type="text" class="form-control" id="minimalnaKolicina">
			</div>
			<div class="form-group">
				<label for="novi.datumPoslednjeIzmene">DATUM UNOSA</label> <input required="required"
					ng-model="novi.datumPoslednjeIzmene" type="date"
					class="form-control" id="datumPoslednjeIzmene"   placeholder="yyyy-MM-dd">
			</div>
			<div class="form-group">
				<label for="id">NALOGODAVAC</label>
				 <select ng-model="idOsobe" type="text"
					class="form-control" id="id">
					<option ng-repeat="o in osobe" value="{{o.id}}">{{o.ime +" "+o.prezime}}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="kategorijaId">KATEGORIJA</label>
				 <select ng-model="novi.kategorijaId" type="text"
					class="form-control" id="kategorijaId">
					<option ng-repeat="k in kategorije" value="{{k.id}}">{{k.naziv}}</option>
				</select>
			</div>
			<div class="form-group">
			<label for="jedinicaMere">JEDINICA MERE</label>
			<input ng-model="novi.jedinicaMere" class="form-control" id="jedinicaMere">
			</div>

			<button type="button" class="btn btn-primary"
				ng-click="dodajArtikl(idOsobe)">
				<i class="glyphicon glyphicon-ok"></i>
			</button>
		</form>

	</div>





</div>