

<div ng-controller="pocetnaStranica">
<p> Web aplikaciju "Magacinsko poslovanje" razvijam u cilju sticanja prakticnih znanja
i iskustva u web developmentu i kako bih prikazala sta sam naucila do sada i olaksala
preduzecima da ocene nivo znanja koje posedujem i da li je taj nivo dovoljan za neku 
juniorsku poziciju ili barem praksu kod njih. <p>

</div>