<div ng-controller="kategorijaCtrl">

	<header>KATEGORIJE</header>
	<section>
		<button class="btn btn-outline-success"
			ng-click="dobavljeno=!dobavljeno;dobaviKategorije()">PREGLED
			KATEGORIJA</button>
		<button class="btn btn-outline-success">DODAJ KATEGORIJU</button>
		<div ng-if="dobavljeno">
			<table>
				<tr>
					<th>ID</th>
					<th>NAZIV KATEGORIJE</th>
					<th></th>
					
				</tr>
				<tr ng-repeat="k in kategorije">
					<td>{{k.id}}</td>
					<td>{{k.naziv}}</td>
					<td><button class="btn btn-outline-primary" ng-click="detalji=!detalji;detaljiKategorije(k.id)">Detalji</button></td>
				</tr>
				
				
			</table>
			
<div ng-if="detalji">
				<table>
					<tr>
						<th>Naziv artikla</th>
						<th></th>
					</tr>
			
				<tr ng-repeat="a in artikli">
					<td>{{a.opis}}</td>
					<td><button ng-click="ukloniArtiklIzKategorije(a.id)">Ukloni</button></td>
				</tr>
				</table>
			</div>

		</div>
		<div>
		<form  >
		<label>Pretraga kategorija po osobama</label>
		<select name="osobe" ng-model="id" >
  <option ng-repeat="o in osobe" value={{o.id}}>{{o.ime + " " + o.prezime}}</option>

</select>
  <input type="submit" value="Pronadji" ng-click="kategorijeOsobe(o.id)">

		</form>
		
		<table>
				<tr>
					<th>ID</th>
					<th>NAZIV KATEGORIJE</th>
					<th></th>
					
				</tr>
				<tr ng-repeat="k in kategorijeO">
					<td>{{k.id}}</td>
					<td>{{k.naziv}}</td>
					
				</tr>
				
				
			</table>
		
		</div>

	</section>
	<footer> </footer>

</div>