<div>

<p> Stranica je u pripremi. Tu ce biti prikaz svih izmena za sve artikle, pa na osnovu tih
izmena bice prikazane razlicite statistike (potrosnja iz meseca u mesec ili iz godine u godinu
, prikaz artikla koji se najvise koristi i ostalo se moze izmisljati)</p>
</div>